PORT=3004

NATS_SERVER=nats://localhost:4222

MONGODB_PASSWORD=*****
MONGODB_USERNAME=****

DATABASE_URL=mongodb+srv://admin:DWgOt8NLmUWCZmtf@auth-ms.bqcwjlb.mongodb.net/authDb
JWT_SECRET=supersecretkey5599844546548-/*-/-*/